<div class="header__search">
    <form action="/" method="POST">
        <input type="text" name="search" placeholder="Search for news" required>
        <input type="submit" value="Search">
    </form>
</div>